//.views-element-container {
//  position: relative;
//}
//
//.views-element-container > div {
//  width: 100%;
//}

.sector {
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.sector__img img {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1024px) {

  .sector__img img {
    margin-bottom: 1rem;
  }

}

@media (min-width: 1024px) {

  .s-data__description {
    width: 400px;
  }

  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }

}

.paragraph + a {
  margin-top: 20px;
}