:root {
  --header-height: 3rem;
  --max-width: 1344px;
  --gutter: 1rem;
  --clean-color: #FFF;
  --first-color: #FB4C54;
  --first-color-alt: #E53B43;
  --second-color: #40C67B;
  --second-color-alt: #00BF3D;
  --dark-color: #2E2C2C;
  --dark-color-alt: #0E0E0E;
  --accent-color: #F97939;
  --accent-color-alt: #F78921;
  --body-bg: #F9F9F9;
  --border-color: #CFCFCF;
  --text-color: #53575A;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*,
*::after,
*::before {
  font-family: 'Open sans', sans-serif;
  box-sizing: border-box;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

::-moz-selection {
  color: pink;
  background-color: red;
}

::selection {
  color: pink;
  background-color: red;
}

body {
  margin-top: var(--header-height);
  background-color: var(--body-bg);
  min-height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

div {
  display: block;
}

a {
  text-decoration: none;
}

.t1, .t2, .t3, .t4,
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: .01em;
  line-height: 1.3;
}

h1, h2, h3,
h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.t1, h1 {
  font-size: 2.25rem;
}

.t2, h2 {
  font-size: 1.5rem;
}

h1 + .subtitle, h2 + .subtitle,
h3 + .subtitle, h4 + .subtitle,
h5 + .subtitle, h6 + .subtitle {
  margin-top: -.5rem;
  margin-bottom: 1rem;
}

.block-title {
  display: block;
  text-align: center;
}

.nd-container,
.views-element-container {
  display: flex;
  max-width: var(--max-width);
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.nd-item {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nd-item.l-15,
.l-15 {
  width: 15%;
}

.nd-item.l-75,
.l-17 {
  width: 75%;
}

.nd-item.l-85,
.l-85 {
  width: 85%;
}

.no-padding.nd-container > .nd-item,
.no-padding.nd-item {
  padding-left: 0;
  padding-right: 0;
}

.to-center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

input {
  line-height: 1.7;
}

.button,
[class^="button"] {
  background-color: var(--first-color);
  color: var(--clean-color);
  display: inline-block;
  border-radius: 3px;
  font-size: .95rem;
  padding: 12px 23px;
  text-align: center;
  border: 2px solid var(--first-color);
  transition: all .2s ease-out;
  font-weight: 400;
}

.coraza {
  height: 500px;
  width: 500px;
}

[class^="button"].center {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.button:hover,
[class^="button"]:hover {
  background-color: var(--first-color-alt);
  border-color: var(--first-color-alt);
  color: var(--clean-color);
}

.button:active,
[class^="button"]:active {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

[class^="button"].selfish {
  display: block;
  width: 100%;
}

[class^="button"].big {
  font-size: 1.25rem;
  padding: 20px 40px;
}

[class*="--small"] {
  font-size: .875rem;
  padding: 4px 8px;
}

[class*="--special"] {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

[class*="--special"]:hover {
  background-color: var(--accent-color-alt);
  border-color: var(--accent-color-alt);
}

[class*="--cta"] {
  background-color: var(--second-color);
  border-color: var(--second-color);
}

[class*="--cta"]:hover {
  background-color: var(--second-color-alt);
  border-color: var(--second-color-alt);
}

[class*="--ghost"] {
  background-color: transparent;
  color: var(--first-color);
}

[class*="--ghost--special"] {
  color: var(--accent-color);
}

[class*="--ghost--cta"] {
  color: var(--second-color);
}

.main-header {
  background-color: var(--clean-color);
  height: var(--header-height);
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  z-index: var(--z-fixed);
}

.main-logo {
  width: auto;
  height: calc(var(--header-height) / 2.2);
  display: block;
}

.logo-container {
  display: flex;
  align-items: center;
}

.main-menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.main-menu li {
  padding: 0 .8em;
}

.main-menu a {
  font-size: .875rem;
  color: var(--text-color);
}

.main-menu a:hover {
  color: var(--accent-color);
}

.main-menu li:last-of-type a {
  color: var(--clean-color);
}

.main-end {
  display: flex;
  justify-content: flex-end;
}

.main-banner {
  position: relative;
  color: var(--clean-color);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  margin-bottom: 4rem;
}

.main-banner--front {
  padding-top: 11rem;
  padding-bottom: 13rem;
  background-color: var(--accent-color-alt);
}

.main-banner__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: .1;
}

.main-banner__data {
  position: relative;
  text-align: center;
}

.main-banner .subtitle {
  opacity: .6;
}

.main-banner .main-search-input {
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

.main-search-input {
  border: none;
  display: block;
  width: 100%;
  padding: .5em 3em .5em .7em;
  border-radius: .2rem .2rem 0 0;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 2rem;
  background: var(--clean-color) url(https://image.flaticon.com/icons/svg/45/45301.svg) no-repeat center right 12px/1.5rem;
  outline: none;
}

.main-main.main-front > .nd-item {
  padding-left: 0;
  padding-right: 0;
}

.main-main {
  margin-bottom: 2rem;
}

.views-element-container {
  position: relative;
}

.views-element-container > div {
  width: 100%;
}
