.main-footer {
  background-color: #282d31;
  padding: 50px 0;
  //margin-top: 6rem;
}

.main-footer > .nd-container {
  max-width: 1344px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
}

address {
  font-style: normal;
}

.footer__data * {
  color: hsla(60,67%,96%,.5);
  text-decoration: none;
  list-style: none;
}

.footer__data a:hover {
  color: var(--accent-color-alt);
}

.footer__data h3 {
  font-size: .900rem;
  font-weight: 700;
  color: var(--first-color);
  margin-bottom: 10px;
}

.footer__data ul {
  font-size: .835rem;
  margin-left: 1.5rem;
  padding-left: 10px;
  border-left: 1px solid;
  position: relative;
}

.footer__data ul::before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0;
  left: -1.5rem;
}

.footer__data:first-of-type ul::before {
  //background-image: url(/alpha/tests/svg/world.svg);
  background-image: url(./../svg/world.svg);
}

.footer__data:nth-of-type(2) ul::before {
  background-image: url(./../svg/email.svg);
}

.footer__data:nth-of-type(3) ul::before {
  background-image: url(./../svg/users.svg);
}

.footer__data:last-of-type ul::before {
  background-image: url(./../svg/fork.svg);
}

.rights {
  background-color: #fff;
  font-size: .835rem;
}

.self-item {
  text-align: center;
  max-width: 1344px;
  margin: 0 auto;
  padding: 15px;
}

.socials {
  margin-top: 1rem;
}

.socials--footer a {
  padding-right: .5rem;
  font-size: 1.5rem;
}

.socials--footer a:hover path {
  color: var(--second-color);
}

.footer--banner {
  margin-bottom: 0;
  background-color: #282d31;
}

.footer__logo {
  margin-top: 200px;
  width: 200px;
}