.video-demo {
  //background: linear-gradient(#000, #fff);
  //margin-top: 6rem;
  background-color: #000;
  padding: 6rem 0;
}

.wrapper-video {
  margin-left: auto;
  margin-right: auto;
  width: 965px;
}

.video-container {
  text-align: center;
}

.video {
  text-align: center;
  //box-shadow: 0 10px 20px rgba(255, 255, 255, 0.3);
  //width: 100%;
  //height: 100%;
}